<div class="container">
<div class="row">
   
        <form>
            <div class="head">
                <h1>Book Here</h1>
            </div>
            <div class="customer">
                <input type="text" name="customername" placeholder="Your Name"> 
            </div> <br/>
           <div class="number">
            <input type="text" name="number" placeholder="Number of individuals">
           </div> <br/>
           <div class="dropdown">
               <select>
                   <option>Single Room</option>
                   <option>Double Room</option>
               </select>
           </div> <br/> <br>
          <div class="buto">
            <button type="submit" (click)="book()">Book</button>
          </div>
             <br/> <br/>
        </form>
    
  
</div>
</div>
